<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="knockoutjs" frontName="knockoutjs">
            <module name="Magento_KnockoutJs"/>
        </route>
    </router>
</config>
